.splash {
  min-height: 100vh;
  background-color: #fff;
  background-image: radial-gradient(#ffd166 10%, transparent 12%), radial-gradient(#ffd166 10%, transparent 12%);
  background-position: 0 0, 20px 20px;
  background-size: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}
.splashTtl {
  text-align: center;
}
.splashTtlInner {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  font-style: italic;
  padding: 5px 5px 3rem;
  line-height: 1;
  color: transparent;
  -webkit-text-stroke: 1px #3e87ff;
  text-stroke: 1px #3e87ff;
  margin: 0;
  display: inline-block;
  background: radial-gradient(transparent);
  /* background: -moz-radial-gradient(#3e87ff 10%, transparent 40%);
  background: -webkit-radial-gradient(#3e87ff 10%, transparent 40%); */
  /* background: radial-gradient(#3e87ff 15%, transparent 15%); */
  background-clip: text !important;
  -webkit-background-clip: text !important;
}
.oden {
  position: relative;
}
.elem {
  width: 4rem;
  height: 4rem;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 100;
}
.triangle,
.triangle::before,
.triangle::after {
  width: 2.8rem;
  height: 2.8rem;
  background: #3e87ff;
  z-index: 300;
}

.triangle::before,
.triangle::after {
  content: '';
  position: absolute;
}

.triangle {
  position: relative;
  border-top-left-radius: 40%;
  transform: rotate(30deg) skewY(30deg) scaleX(0.86666);
}

.triangle::before {
  border-top-right-radius: 40%;
  transform: skewX(-45deg) translateX(50%);
}

.triangle::after {
  border-bottom-left-radius: 40%;
  transform: skewY(-45deg) translateY(50%);
}
.circle {
  margin: 2rem auto 1.5rem;
  display: flex;
  justify-content: center;
  z-index: 200;
}
.ractan {
  background: #ef476f;
  border-radius: 8px;
}
.rod {
  width: 0.3rem;
  height: 9rem;
  display: block;
  background: #3e87ff;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
